name: Deploy Image to GHCR

on:
  push:
    branches:
      - main

jobs:
      push-store-image:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

          - name: 'Login to GitHub Container Registry'
            uses: docker/login-action@v3
            with:
              registry: ghcr.io
              username: ${{github.actor}}
              password: ${{secrets.GITHUB_TOKEN}}

          - name: 'Build + Push Image'
            run: |
              docker build . --tag ghcr.io/remast/dogop-serverless:latest
              docker push ghcr.io/remast/dogop-serverless:latest